
li{
   border: none;
}

.div{
    border-bottom: 1px solid rgb(237, 237, 237);
}

.darkmode {
    background-color: #25273D;
    color: white;
    border: #25273D;

    button {
        color: white;
    }

}
