.bg-image{
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: 100%;
    z-index: 0
    ;

        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
    }

.form-control{
    height: 50px;
}
.card1{
    height: 439px;
}

.container-fluid{
    height: 100%;
    z-index: -1;
}

.flex{
    display: flex;
    justify-content: space-around;
}


.darkmode{
    background-color: #171823;
    color: white;
    border: #171823;
}